*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav section starts */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
     background: #FF900E1A;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
   
}
nav h1{
    font-size: 2.0em;
}
nav ul li{
    font-size: 1.5em;
}

/* navbar end */
/* banner starts */
.banner{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
   background-color:#ff8f0e0c;

}
.banner-description{
   text-align: center;
   padding: 17px;
}
.banner-description h1{
    font-weight: 700;
    font-size: 2.5em;
    padding: 5px;
}
.banner-description p{
    font-weight: 400;
    font-size: 1.9em;
    padding: 5px;
}
.banner-description button , .button{
    font-weight: 400;
    font-size: 1.2em;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    padding: 10px;
  
}
.banner-photo img{
    width: 100%;
    max-width: 1250px;
}
/* banner section end */
/* features section starts  */
.features-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 55px 0;
}

.features-imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    width: 50%;  
}

.features-imgs img{
 width: 100%;
   
}

.features-description{
    width: 50%;
}
.features-description h1{
    font-weight: 700;
    font-size: 2.5em;
    padding: 5px;
}
.features-description p{
    font-weight: 400;
    font-size: 1.9em;
   padding: 5px 5px 15px 5px;
}
.features-description h1 span{
color: #FF900E;
}


/* features section end  */
/* more features section starts  */
.more-features{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    gap: 50px;

}
.more-features-info{
  display: grid;
  grid-template-columns: 2fr;
  align-items: center;
  justify-content: center;
  justify-items: start;
  width: 50%;
}
.more-features-1 h1{
    font-size: 3em;
    padding: 10px;
    border-left: 5px solid #FF900E;
}
.more-features-1 p{
    font-size: 1.3em;
    padding: 10px;
}

.more-features-2{
 width: 586px;
 height: 150px;
 background: #ffffff;
 box-shadow: 0px 6px 50px rgb(0 0 0 / 6%);
 border-radius: 5px;
margin: 5px 0px;
}
.more-features-2 h4{
    font-size: 1.5em;
  
    padding: 15px 20px;
}
.more-features-2 p{
    font-size: 1.3em;
    padding: 0px 20px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.more-features-photo img{
    width: 100%;
}
.more-features-photo{
    width: 50%;
    position: relative;
    
}
.features-year-expriences{
    width: 300px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 35px;
    position: absolute;
    bottom: 0px;
  left: -45px;

}
.features-year-expriences small{
   font-size: 1.1em;
}

/* more-features-section-ends */
/* some facts section start */
.some-facts{
width: 100%;
max-width: 1250px;
margin: 0 auto;
}
.facts-description h1{
font-size: 2.5em;
padding: 15px;
}
.facts-description p{
font-size: 1.5em;
padding-bottom: 60px;
padding-left: 15px;

}
.facts-overview{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.overview-box{
    height: 241px;
    width: 241px;
    box-shadow: 0px 6px 50px rgb(0 0 0 / 6%);
    border-radius: 15px;
    border: 1px solid #FF900E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.overview-box img{
 height: 50px;
 width: 50px;
}
.overview-box h2{
font-size: 2.5em;
padding: 10px;
}
.overview-box p{
font-size: 1.5em;
padding: 0px;
}
.overview-box:hover{
    transform: rotate(40deg) scale(1.45);
    transition: transform 2s;
    background-color: aqua;
}

/* some facts section end */

/* subcribe-section start */

.subcribe-section{
    height: 52vh;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    width: 100%;
    max-width: 1250px;
    margin: 45px auto 0px auto;
    /* border: 1px solid red; */
    background-color: rgba(0, 0, 255, 0.092);
   
    }
    .google-login{
        width: 100%;
        height: 35px;
        background-color: rgba(128, 128, 128, 0.19);
        border: 1px solid gainsboro;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .subcribe-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    }
    .subcribe-intro h1{
    font-size: 2.5em;
    padding-bottom: 15px;
    }
    .subcribe-intro p{
        font-size: 1.5em;
    }
    .or{
        text-align: center;
        
    color: rgb(2 27 36);
        margin: 10px 0;
    }
    .subcribe-form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    form{
        /* border: 1px solid red; */
        width: 100%;
        height: 25vh;
    }
    form input{
        display: block;
        width: 100%;
        height: 35px;
     /* border: 1px solid gray; */
    }
    form p{
     
        color: rgb(103 49 191);
    
    }
    .subscribe-button{
        width: 100%;
        height: 45px;
        background-color: rgba(0, 0, 139, 0.306);
        display: flex;
        justify-content: center;
        align-items: center;
       margin-top: 15px;
       border-radius: 15px;
    }
    .subscribe-button button{
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    background-color:rgba(0, 0, 255, 0);
    }
    /* subcribe-section end */

/* sponspoes section start */
.sponspors{
    width: 100%;
    max-width: 1250px;
    margin: 50px auto;
}
.sponspors-tittle{
 padding: 60px;
    }
.sponspors-tittle h1{
font-size: 2.5em;
padding: 10px;
text-align: center;
font-weight: 1000;
}
.sponspors-tittle p{
font-size: 1.5em;
padding-bottom: 20px;
text-align: center;
}
.all-sponspors-logos div{
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
justify-items: center;
flex-wrap: wrap;
/* border: 1px solid red; */
}
.amazon-img{
    margin-top:15px ;
}
/* sponspoes section end */
/* footer section start */
footer{
    margin: 0 auto;
    width: 100%;
    max-width: 1250px;   
background: #FFF4E7;
border-radius: 15px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}
footer p{
    font-family: 'Work Sans';
font-weight: 400;
font-size: 20px;
}







/* for mobile responsive */

@media only screen and (max-width: 576px ){
    /* nav responsive statrs */
 nav{
    width: 100%;
    flex-direction: column;
    height: 100%;
 } 
 nav h1{
    font-size: 18px;
    padding-bottom: 15px;
 }
 nav ul li{
    font-size: 18px;
 }  
 nav ul{
    flex-direction: column;
 }  
 /* nav responsive end  */
 /* banner responsive starts */
 .banner {
width: 100%;
height: 100%;
 }
.banner-description h1{
    font-size: 20px;
} 
.banner-description p{
    font-size: 18px;
    padding-bottom: 10px;
} 
/* banner responsive end */
/* .features-section responsive starts */
.features-imgs {
    grid-template-columns: repeat(1,1fr);
    gap: 11px;
}
.features-section{
    flex-direction: column;
}
.features-description h1{
    font-size: 29px;
    
}
.features-description p{
    font-size: 20px;

}
.banner-description button, .button{
    font-size: 1em;
}
/* .features-section responsive end */



/* .more-features starts */
.more-features{
    width: 100%;
flex-direction: column;
max-width: 100%;
height: 100%;
/* border: 1px solid red; */
margin: 0;
}
.more-features-info{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    height: 100%;
    gap: 11px;
}
.more-features-1{
    width: 100%;
    height: 100%;
}
.more-features-1 h1{
    font-size: 28px;
}
.more-features-1 p{
    font-size: 17px;
    width: 100%;
    height: 100%;
}

.more-features-2 {
    height: 100%;
    width: 100%;
    margin: 11px 0px;
}
.more-features-2 h4{
  font-size: 22px;
  padding: 10px 10px;
}
.more-features-2 p{
  font-size: 19px;
  padding: 0px 10px;
  /* border: 1px solid red; */
  width: 100%;
}
.more-features-photo{
    width: 100%;
}

.features-year-expriences{
    bottom: -172px;
    left: 71px;

}

/* .more-features end */



/* .some-facts starts */
.some-facts{
    margin-top: 209px;
}
.facts-overview{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
.overview-box{
    height: 100%;
    width: 100%;
}
.overview-box img{
    margin-top: 8px;
}
.facts-description h1{
    text-align: center;
}
.facts-description p{
    text-align: center;
}
/* .some-facts end */
/* .subcribe-section starts */
.subcribe-section{
    grid-template-columns: repeat(1,1fr);
    gap: 52px;
    height: 100%;
    width: 100%;
}
/* .subcribe-section end */
/* sponspors section starts */

.sponspors{
width: 100%;
padding: 0;
/* border: 1px solid red; */

}
.all-sponspors-logos{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    width: 100%;
    height: 100%;
    margin-top: -50px;
   
}
.all-sponspors-logos div img{
width: 35%;

}
.sponspors-tittle h1 {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
}
.sponspors-tittle p {
font-size: 1.2rem;
width: 100%; 
}
/* sponspors section end */
/* footer section starts */
footer p{
    text-align: center;
    font-size: 17px;
    padding: 0 10px;
}
/* footer section end */

.more-features10{
    display: none;
}


}